@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */
/* Reset starts             */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 224, 247);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Baloo 2', Kumbh Sans, Poppins, sans-serif;
}
.main-content {
  min-width: 375px;
}
.main-footer {
  margin-top: auto;
  min-width: 375px;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
img {
  width: 100%;
}
picture {
  height: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
textarea {
  resize: none;
}

/* Remove default bullets */
ul {
  list-style: none;
}
ol {
  list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Navbar && filter */
/* ------------------- */

.nav {
  max-height: 136px;
  /* height: 136px; */
  min-width: 375px;
  overflow: hidden;
}

.search-container {
  min-width: 375px;
}

.cards-container {
  min-width: 375px;
}
.modal-container {
  min-width: 375px;
}
.card-detail {
  min-width: 375px;
}

.unreqlist {
  counter-reset: orderedlist;
}
.unreqlist li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  color: #5964e0;
  font-weight: bold;
  margin-right: 1em;
}

.req-list {
  counter-reset: orderedlist;
}
.req-list li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  color: #5964e0;
  font-weight: bold;
  margin-right: 1em;
}
.cards-container {
  display: grid;
  place-items: center;
  row-gap: 49px;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 65px;
    column-gap: 11px;
  }
  .nav {
    max-height: fit-content;
    overflow: visible;
  }
}
@media (min-width: 1440px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
  }
  .nav {
    max-height: fit-content;
    overflow: visible;
  }
}

@media (prefers-color-scheme: dark) {
  .location-icon {
    fill: white;
  }
}
