@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */
/* Reset starts             */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 224, 247);
  font-family: 'Kumbh Sans', sans-serif;
}
